* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4CAF50 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #4CAF50;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}

#about, #3dprinting {
    padding: 50px 0;
    background: #f4f4f4;
}

#about h2, #3dprinting h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #333;
    text-align: center;
}

@media(max-width: 768px) {
    header h1,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
}
